/* You can add global styles to this file, and also import other style files */
.footer {
	position: fixed;
    padding: auto;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgb(59, 103, 145);
	color: rgb(219, 208, 208);
	text-align: center;
	font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}